{% extends "puzzles/base.html" %}
{% load to_json %}

{% block content %}
	{% if rounds %}
		<div class="shortcuts row">
			<div class="col-lg-12">
				Hop to: 
				{% for round in rounds %}
					<a href="#{{ round | slugify }}-{{ round.name | slugify}}">{{ round }}</a> | 
				{% endfor %}
			</div>
		</div>
	    {% for round in rounds %}
	    <div class="row">
		    <div class="col-lg-12 round">
		    	<h2 id="{{ round | slugify }}-{{ round.name | slugify}}">
		    		{{ round }} {{ round.name }}</h2>
		    	{% for puzzle in round.puzzle_set.all %}
		    		<div class="row">
			        	<div class="col-lg-12 puzzle">
			        		<span class="name" title="{{puzzle.name}}">
			        			{{ puzzle }}
			        		</span>
			        	</div>
			        </div>
		        {% endfor %}
		    </div>
		</div>
	    {% endfor %}
	{% else %}
	    <p>No puzzles are available.</p>
	{% endif %}
<pre>
{% for round in rounds %}
{{ round | to_json }}
{% for puzzle in round.puzzle_set.all %}
  {{ puzzle | to_json }}
{% endfor %}
{% endfor %}
</pre>
{% endblock %}
