{% extends "puzzles/base_herring.html" %}

{% block content %}
    <h2>Hunting Resources</h2>

    <h3>Solvers</h3>
    <ul>
        <li><a href="http://nutrimatic.org/">Nutrimatic</a> -- finds words matching more complicated constraints; usually gets overloaded during the Hunt</li>
        <li><a href="http://www.onelook.com/">OneLook</a> -- finds words matching constraints that might include part of speech or meaning
        <li><a href="http://web.media.mit.edu/~rspeer/anagrampage/"> anagrampage</a> is an interface for interactively completing anagrams.</li>
        <li><a href="http://www.oneacross.com/">One Across</a> -- crossword clue solver</li>
        <li><a href="http://wiki.rotq.net/index.php/Solvertools">Solvertools</a></li>
        <li><a href="http://quinapalus.com/cgi-bin/match">Quinapalus</a> -- finds words matching simple constraints</li>
        <li><a href="http://www.quinapalus.com/qat.html">Qat</a> -- finds words matching very complicated constraints, including equations between words</li>
    </ul>

    <h3>References</h3>
    <ul>
        <li><a href="http://devjoe.appspot.com/huntindex/">Index of past Mystery Hunt puzzles</a></li>
        <li><a href="http://floorplans.mit.edu/">MIT Floorplans</a></li>
        <li><a href="http://oeis.org/">Online Encyclopedia of Integer Sequences</a></li>
        <li><a href="https://www.collegepuzzlechallenge.com/PuzzleTools.aspx#body">Character encodings and lists o' stuff</a>
    </ul>

{% endblock %}
