{% extends "puzzles/base_herring.html" %}

{% block content %}
    <h2>Hunting Resources</h2>

    <h3>Our tools</h3>
    <ul>
        <li><a href="http://ireproof.org/">Cluebot, Mixmaster, and much much more!</a></li>
        <li><a href="https://docs.google.com/document/d/1eHXQ5azQcyL0xAmnwB_taegje43csp4O2k7Lk0maBxc">2020 Tech Guide</a></li>
        <li>Team room for 2020: 3-442</li>
        <li>Team phone number: +1 (415) 787-7243 (415-SUP-RAGE) -- used for calling in answers but also to get hold of people in the on-campus room</li>
        <li>Team leader phone numbers (on-site): Matt: (773) 270-0044, Glenn: (310) 809-9044 -- call in case of trouble or issues</li>
        <li><a href="http://ireproof.slack.com">Team Slack (deprecated/historical, use Discord)</a></li>
        <li><a href="https://www.youtube.com/channel/UC8p0HRe6VtsZZ_lCfylu2zg">Team YouTube channel</a> -- team meetings get livestreamed here</li>
        <li><a href="https://docs.google.com/document/d/1sfkoKg1aIdkSZcg8qgbCmlJs5rmQgpQTB-b6-s0T9Yk">Team member puzzle / skill / knowledge crosswalk</a> -- please add yourself</li>
        <li><a href="https://docs.google.com/document/d/1SOeuNxcorA-Te03IGSzaWkbW5b0DUvYn2SgxanxCa0g">Have You Tried (Metas)</a></li>
    </ul>

    <h3>Solvers</h3>
    <ul>
        <li><a href="http://nutrimatic.org/">Nutrimatic</a> -- finds words matching more complicated constraints; usually gets overloaded during the Hunt</li>
        <li><a href="http://www.onelook.com/">OneLook</a> -- finds words matching constraints that might include part of speech or meaning
        <li><a href="http://web.media.mit.edu/~rspeer/anagrampage/"> anagrampage</a> is an interface for interactively completing anagrams.</li>
        <li><a href="http://www.oneacross.com/">One Across</a> -- crossword clue solver</li>
        <li><a href="http://wiki.rotq.net/index.php/Solvertools">Solvertools</a></li>
        <li><a href="http://quinapalus.com/cgi-bin/match">Quinapalus</a> -- finds words matching simple constraints</li>
        <li><a href="http://www.quinapalus.com/qat.html">Qat</a> -- finds words matching very complicated constraints, including equations between words</li>
    </ul>

    <h3>References</h3>
    <ul>
        <li><a href="http://devjoe.appspot.com/huntindex/">Index of past Mystery Hunt puzzles</a></li>
        <li><a href="http://floorplans.mit.edu/">MIT Floorplans</a></li>
        <li><a href="http://oeis.org/">Online Encyclopedia of Integer Sequences</a></li>
        <li><a href="https://www.collegepuzzlechallenge.com/PuzzleTools.aspx#body">Character encodings and lists o' stuff</a>
    </ul>

{% endblock %}
