Django
Unidecode
Whoosh
dj-database-url
dj-static
django-toolbelt
gunicorn
natsort
psycopg2
pyOpenSSL
requests
static3
urllib3
celery[redis]
django-autoslug
django-celery
slacker
google-api-python-client
django-model-utils
django-environ
oauth2client
#kombu
redis==2.10.6
