Django==1.8.2
Unidecode==0.04.17
Whoosh==2.6.0
bsddb3==6.1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gnureadline==6.3.3
gunicorn==19.4.5
ipython==2.3.1
natsort==3.5.2
nltk==3.0.1
numpy==1.9.1
psycopg2==2.6.1
pyOpenSSL==0.13
requests==2.8.1
static3==0.6.1
urllib2==0.1.13
urllib3==1.12
