<!doctype html>
<head>
    <title>Herring</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    {% load static %}
    {# Built from puzzles/static-src/style.less; see README. #}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    {% block head_scripts %}{% endblock %}
</head>
<body>
    {% block page %}{% endblock %}
</body>
</html>
